<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1",charset="UTF-8">
		<!-- Website CSS style -->
		<link href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- Website Font style -->
		<link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/style.css">
		<!-- Google Fonts -->
    <title>998</title>
</head>
<body>
<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
</body>
</html>